*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: SmilingTimes;
    src: url("../Assets/Fonts/Smiling Times Regular.ttf");
}

@font-face {
    font-family: Luminari;
    src: url("../Assets/Fonts/Luminari-Regular.ttf");
}

body {
    background: #DEDEDE;
    position: relative;
    font-family: SmilingTimes;
    font-size: 24px;
    line-height: 24px;
}

.lighter-text {
    color: black;
}

p,
li {
    font-size: 24px;
    line-height: 24px;
}

.main-color-text {
    color: black;
}

.calculation {
    text-align: right;
    margin-top: 88px;
}

#search-form {
    max-width: 85% !important;
}

.vinyl-name,
.author {
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    margin-bottom: -6px;
}

.main-read {
    width: 521px;
    margin: auto;
}

#side-section {
    position: fixed;
    top: 0px;
    padding: 16px;
}

.blog {
    left: 24.30%;
    width: 65.23%;
    position: relative;
}

.blog p {
    width: 520px;
}

#main-content {
    width: 40.07% !important;
    /* position: relative; */
}

.item-details {
    width: 100%;
}


/* #signin-block {
    width: 50%;
} */

#cart,
#search {
    background-color: #fff;
}

.top-title {
    right: 0;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 24px;
    font-size: 24px;
    z-index: 9;
}

nav .navbar-left {
    float: left;
    width: 30%;
    opacity: 0;
    position: fixed;
    z-index: 9;
}

.standard-font {
    font-size: 24px;
    line-height: 24px;
}

#brand-name {
    width: 40%;
}

nav .navbar-right {
    float: right;
    width: 30%;
    text-align: end;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.navbar-right li:nth-child(1) {
    margin-bottom: 8px;
    height: 41px;
}

nav ul.navbar-right li,
nav ul#brand-name li {
    display: inline;
    padding-left: 16px;
}

ul li a {
    color: black !important;
    text-decoration: none !important;
}

.recent-block img {
    width: 23rem;
}

.recent-block p {
    text-align: center;
}

.post img {
    width: 16rem;
}

.post {
    margin-bottom: 16px;
}

.nav-link.active {
    color: black !important;
}

.nav-link:hover {
    color: black !important;
}

nav ul li a:hover {
    color: black;
}

.pointer-cursor {
    cursor: pointer;
}


/* cart dd */

.badge {
    background-color: black;
    border-radius: 0px;
    color: white;
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    padding: 4px 4px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    margin: 16px 0;
    float: right;
    background: white;
    width: 50%;
    position: absolute;
    right: 0;
    top: 16px;
    border-radius: 0px;
    padding: 4px;
    z-index: 9;
    height: 100%;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 0px solid #e8e8e8;
    padding-bottom: 16 px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding: 16px !important;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 16px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 16px;
    margin-top: 16px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: -6px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #000;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .remove-cart-item {
    color: #000;
    margin-top: 16px;
    margin-right: 16px;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    margin-left: -8px;
}

.cart-icon {
    color: black;
    font-size: 24px;
    margin-right: 16px;
    float: left;
    line-height: 24px;
}

.checkout-button {
    background: none;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    display: block;
    border-radius: 0px;
    font-size: 24px;
}

.checkout-button:hover {
    background: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.shopping-cart-items li {
    display: inline;
}

.shopping-cart-items li a {
    color: black;
    text-decoration: none;
}

.shopping-cart-items li a:hover {
    color: black;
}

.clearfix .cart-img {
    width: 38.14%;
}


/* cart dd end */


/* search menu start */

.search-menu {
    margin: 16px 0;
    float: right;
    background: white;
    width: 320px;
    position: absolute;
    right: 0;
    top: 64px;
    border-radius: 0px;
    padding: 16px;
    height: 100%;
    z-index: 999999;
}

.search-menu .shopping-cart-items {
    padding: 0px!important;
}

.search-menu .shopping-cart-items li {
    margin-bottom: 16px;
}

.search-menu .shopping-cart-items img {
    float: left;
    margin-right: 16px;
    margin-top: 16px;
}

.search-menu .shopping-cart-items .item-name {
    display: block;
    padding-top: 16px;
    font-size: 16px;
    margin-bottom: 16px!important;
}

.search-menu .shopping-cart-items .item-price {
    color: #000;
    margin-right: 8px;
}

.search-menu .shopping-cart-items .remove-cart-item {
    color: #000;
    margin-top: 16px;
    margin-right: 16px;
}

.search-menu:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}


/* search menu end */


/* side menu start */

.side-menu-small {
    float: left;
    background: white;
    width: 37.89%;
    position: absolute;
    left: 0;
    border-radius: 0px;
    padding: 4px;
    height: 100%;
    z-index: 999999;
    top: 36px;
}

.side-menu-small .shopping-cart-items {
    padding: 16px!important;
}

.side-menu-small .shopping-cart-items li {
    margin-bottom: 16px;
}

.side-menu-small .shopping-cart-items .item-name {
    display: block;
    padding-top: 16px;
    font-size: 16px;
    margin-bottom: 16px!important;
}

.side-menu-small .shopping-cart-items .item-price {
    color: #000;
    margin-right: 8px;
}

.side-menu-small .shopping-cart-items .remove-cart-item {
    color: #000;
    margin-top: 3px;
    margin-right: 31px;
}

.total-price {
    font-size: 24px;
    line-height: 24px;
}

.side-menu-small:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}


/* side menu end */

.vinyl-record {
    width: 64.38%;
    margin-left: 24.30%;
}

.vinyl-record p {
    width: 509px;
}

.recent {
    width: 64.38%;
    margin-left: 24.30%;
}

.vinyl-img {
    width: 24vw;
}

.vinyl-text {
    width: 39.76%;
}

.cart-block {
    width: 64.38%;
    margin-left: 24.3%;
}

.item-image {
    margin-right: 0px;
}

.account-page {
    width: 64.38%;
    margin-left: 24.3%;
}

.genre {
    width: 74.61%;
}

.genre-container {
    text-align: -webkit-right;
}

.search-menu {
    width: 50%;
}

.mx-8 {
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.vinyl-title {
    font-family: Luminari;
    font-size: 24px;
}

div.search-result:nth-child(odd) {
    padding-right: 8px;
}

div.search-result:nth-child(even) {
    padding-left: 8px;
}

.search-result img {
    width: 23rem;
}

.search-result p {
    text-align: center;
}


/* responsive start */

@media (max-width: 916px) {
    .main-read {
        width: 392px !important;
    }
    .blog {
        width: 582.3px !important;
    }
    .blog p {
        width: 360px !important;
    }
    .vinyl-record {
        width: 63.56%;
        margin-left: 24.30%;
    }
    .vinyl-record p {
        width: 352px;
    }
    .recent {
        width: 63.56%;
        margin-left: 24.30%;
    }
}

@media (max-width: 915px) {
    .main-read {
        width: 536px !important;
    }
    .blog {
        width: 100% !important;
        left: 0% !important;
        margin: 0;
        padding: 0;
    }
    .blog p {
        width: 100% !important;
    }
    .blog .img-div {
        width: 30.06% !important;
    }
    .blog .content-div {
        width: 69.57% !important;
    }
    .navbar-left {
        opacity: 100 !important;
    }
    #side-menu {
        display: none !important;
    }
    #signin-block {
        width: 100% !important;
    }
    #main-content {
        width: 536px !important;
    }
    .vinyl-record {
        width: 100%;
        margin-left: 0%;
    }
    .vinyl-record p {
        width: 100%;
    }
    .vinyl-record div:first-child {
        padding: 0;
    }
    .recent {
        width: 100%;
        margin-left: 0%;
    }
    .vinyl-img {
        width: 30.06%;
    }
    .vinyl-text {
        width: 68.57%;
        padding-right: 0px;
    }
    .cart-block {
        width: 100%;
        margin-left: 0;
    }
    .account-page {
        width: 64.38%;
        margin-left: auto;
        margin-right: auto;
    }
    .genre {
        width: 100%;
    }
    .genre-container {
        text-align: -webkit-center;
        padding: 0;
    }
    .genre-items {
        padding: 0px;
    }
    .shopping-cart {
        width: 60.21%;
    }
    .search-menu {
        width: 60.21%;
    }
}

@media (max-width: 769px) {
    #main-content {
        width: 446px !important;
    }
    .main-read {
        width: 446px !important;
    }
}

@media (max-width: 768px) {
    #main-content {
        width: 100% !important;
        padding: 16px !important;
    }
    .main-read {
        width: 100% !important;
    }
    .recent-block {
        width: 50% !important;
    }
    .genre-items {
        width: 50% !important;
    }
    .shopping-cart {
        width: 100%;
    }
    .search-menu {
        width: 100%;
    }
    body {
        padding: 16px !important;
    }
    div.recent-block:nth-child(odd) {
        padding-right: 8px;
        padding-left: 0px;
    }
    div.recent-block:nth-child(even) {
        padding-left: 8px;
        padding-right: 0px;
    }
    .navbar-right {
        padding: 0!important;
        right: 16px !important;
        top: 6px !important;
    }
    .top-title {
        top: 6px;
        height: 41px;
    }
    nav .navbar-left {
        top: 6px !important;
        padding: 0!important;
    }
}

@media (max-width: 481px) {
    .side-menu-small {
        width: 100%;
    }
    /* .top-title {
        right: 51%;
    } */
    /* #side-menu-small {
        position: relative;
        top: 32px;
    } */
    /* .side-menu-small {
        top: 72px;
    } */
}

@media (max-width: 480px) {
    .blog .img-div {
        width: 100% !important;
        margin-bottom: 15px;
    }
    .blog .content-div {
        width: 100% !important;
    }
    .vinyl-img {
        width: 100%;
    }
    .vinyl-text {
        width: 100%;
        padding: 0px;
        margin-top: 16px
    }
    .account-page {
        width: 100%;
    }
    .genre-items {
        width: 100% !important;
    }
    body {
        padding: 16px !important;
    }
    .top-title span {
        float: left;
    }
    .top-title {
        left: 16px;
        top: 5px;
        height: 41px;
        margin-bottom: 8px;
    }
    nav .navbar-left {
        top: 52px !important;
        padding: 0!important;
    }
    .vinyl-title {
        position: absolute;
        top: 53.5%;
    }
    #add-to-cart {
        margin-top: 128px
    }
    .navbar-right {
        padding: 0!important;
        right: 16px !important;
        top: 8px !important;
    }
    .side-menu-small {
        top: 72px;
    }
    .main-product {
        /* padding: 0 !important; */
        position: relative;
        top: 208px;
        /* width: 24rem !important; */
    }
    .row {
        --bs-gutter-x: 0px !important;
    }
    .main-product img {
        margin-bottom: 16px;
    }
    .recent {
        margin-top: 160px !important;
    }
    .recent-block {
        margin-bottom: 16px;
    }
    div.recent-block:nth-child(odd) {
        padding-right: 8px;
    }
    div.recent-block:nth-child(even) {
        padding-left: 8px;
    }
    #footer-div {
        margin: 0px !important;
        position: relative;
        bottom: 0px;
        top: 320px;
    }
    .genre-items {
        margin-top: 128px;
    }
}

@media (max-width: 376px) {
    body {
        padding: 8px !important;
    }
    .top-title span {
        float: left;
    }
    .top-title {
        left: 8px;
        top: 8px;
        height: 41px;
        margin-bottom: 8px;
    }
    nav .navbar-left {
        top: 52px !important;
        padding: 0!important;
    }
    .vinyl-title {
        position: absolute;
        top: 55%;
    }
    #add-to-cart {
        margin-top: 128px
    }
    .navbar-right {
        padding: 0!important;
        right: 8px !important;
        top: 8px !important;
    }
    .side-menu-small {
        top: 72px;
    }
    .main-product {
        /* padding: 0 !important; */
        position: relative;
        top: 208px;
        /* width: 24rem !important; */
    }
    .row {
        --bs-gutter-x: 0px !important;
    }
    .main-product img {
        margin-bottom: 16px;
    }
    .recent {
        margin-top: 160px !important;
    }
    .recent-block {
        margin-bottom: 16px;
    }
    div.recent-block:nth-child(odd) {
        padding-right: 4px;
    }
    div.recent-block:nth-child(even) {
        padding-left: 4px;
    }
    #footer-div {
        margin: 0px !important;
        position: relative;
        bottom: 0px;
        top: 320px;
    }
}
